/*** Game Board Page ***/

.gameboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
}

.instruction {
    font-size: 1.2em;
    text-align: center;
}

/* Game Board */
.found-grid {
    width: 95%;
    max-width: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

    .found-grid.addBottomMargin {
        margin-bottom: 10px;
    }

.ctitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0px;
}

.cbody {
    margin-top: 0;
    font-size: 1em;
}

.category {
    height: 13vh;
    width: 100%;
    border: 2px solid #444444;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px;
    color: #f0f0f0;
}

    .category.group0 {
        background-color: #ffb852;
        color: #1a1a1a;
    }

    .category.group1 {
        background-color: #bfb48f;
        color: #1a1a1a;
    }

    .category.group2 {
        background-color: #beb8e6;
        color: #1a1a1a;
    }

    .category.group3 {
        background-color: #008aa1;
        color: #1a1a1a;
    }

.word-grid {
    width: 95%;
    max-width: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.word-item {
    width: 100%;
    height: 13vh;
    max-height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    border: 2px solid #444444;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    font-size: 1.2em;
    font-weight: bold;
    user-select: none;
    border-radius: 10px;
    color: #f0f0f0;
}

    .word-item:hover {
        background-color: #444444;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖕</text></svg>") 16 0,auto; /*!emojicursor.app*/
    }

    .word-item.selected {
        background-color: #f5a4c7;
        color: #f0f0f0;
        border-color: #f0f0f0;
    }

    .word-item.mistake {
        background-color: #e63946;
        color: #333333;
        border-color: #333333;
        animation: shake 0.5s;
    }

.popup {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    z-index: 9999;
}