/*** Start Screen ***/

.startContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textContainer {
    margin-bottom: 40px;
}

.welcome {
    font-size: 2em;
    margin-bottom: 20px;
}

.playButton {
    border-width: 2px;
    padding: 20px 30px;
    font-size: 1em;
    border-color: #f0f0f0;
    background-color: transparent;
    color: #f0f0f0;
    transition: background-color 0.3s;
}
