body {
    font-family: Courier New, Courier, monospace;
}

.word-grid {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.found-grid {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.word-item {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 1.2em;
    font-weight: bold;
    user-select: none;
    border-radius: 10px;
}

    .word-item:hover {
        background-color: #e0e0e0;
    }

    .word-item.selected {
        background-color: #d0f0d0;
        border-color: #00a000;
    }

.category {
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px;
}

    .category.group0 {
        background-color: #ffb852;
    }

    .category.group1 {
        background-color: #bfb48f;
    }

    .category.group2 {
        background-color: #beb8e6;
    }

    .category.group3 {
        background-color: #008aa1;
    }

.selected-words {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.feedback {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
    text-align: center;
}

.submit {
    border-width: 2px;
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 1em;
    cursor: pointer;
    border-color: black;
    background-color: transparent;
    color: black;
    transition: background-color 0.3s;
}

    .submit:hover {
        background-color: #f0f0f0;
    }

    .submit:disabled {
        background-color: #cccccc;
        color: #666666;
        cursor: default;
    }


.ctitle {
    font-size:25px;
    font-weight: bold;
    margin-bottom: 0px;
}

.controls {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lives {
    margin-bottom: 20px;
    font-size: 25px;
}

.button-group {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}