.word-grid {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.found-grid {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.word-item {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 1.2em;
    font-weight: bold;
    user-select: none;
    border-radius: 10px;
}

    .word-item:hover {
        background-color: #e0e0e0;
    }

    .word-item.selected {
        background-color: #d0f0d0;
        border-color: #00a000;
    }

.category {
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px;
}

    .category.group0 {
        background-color: #ffb852;
    }

    .category.group1 {
        background-color: #bfb48f;
    }

    .category.group2 {
        background-color: #beb8e6;
    }

    .category.group3 {
        background-color: #008aa1;
    }

.selected-words {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.feedback {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #0056b3;
    }

.ctitle {
    font-size:20px;
    font-weight: bold;
    margin-bottom: 0px;
}