/*** General ***/

body {
    font-family: Courier New, Courier, monospace;
    background-color: #1a1a1a;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

button {
    font-family: Courier New, Courier, monospace;
    white-space: nowrap;
    background-color: transparent;
    border-color: #f0f0f0;
    color: #f0f0f0;
    border-radius: 30px;
}
    button:hover {
        background-color: #444444;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖕</text></svg>") 16 0,auto; /*!emojicursor.app*/
    }

/*** Game Board Page ***/

.gameboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
}

.instruction {
    font-size: 1.2em;
    text-align: center;
}

/* Game Board */
.found-grid {
    width: 95%;
    max-width: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

    .found-grid.addBottomMargin {
        margin-bottom: 10px;
    }

.ctitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0px;
}

.cbody {
    margin-top: 0;
    font-size: 1em;
}

.category {
    height: 13vh;
    width: 100%;
    border: 2px solid #444444;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px;
    color: #f0f0f0;
}

    .category.group0 {
        background-color: #ffb852;
        color: #1a1a1a;
    }

    .category.group1 {
        background-color: #bfb48f;
        color: #1a1a1a;
    }

    .category.group2 {
        background-color: #beb8e6;
        color: #1a1a1a;
    }

    .category.group3 {
        background-color: #008aa1;
        color: #1a1a1a;
    }

.word-grid {
    width: 95%;
    max-width: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.word-item {
    width: 100%;
    height: 13vh;
    max-height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    border: 2px solid #444444;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    font-size: 1.2em;
    font-weight: bold;
    user-select: none;
    border-radius: 10px;
    color: #f0f0f0;
}

    .word-item:hover {
        background-color: #444444;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖕</text></svg>") 16 0,auto; /*!emojicursor.app*/
    }

    .word-item.selected {
        background-color: #f5a4c7;
        color: #f0f0f0;
        border-color: #f0f0f0;
    }

    .word-item.mistake {
        background-color: #e63946;
        color: #333333;
        border-color: #333333;
        animation: shake 0.5s;
    }

.popup {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    z-index: 9999;
}

/*** Controls ***/

.submit {
    border-width: 2px;
    padding: 1em 1.5em;
    font-size: 1em;
    transition: background-color 0.3s;
}

    .submit:disabled {
        background-color: #666666;
        color: #cccccc;
        cursor: default;
        opacity: .5;
    }

.controls {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lives {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.button-group {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

/*** Start Screen ***/

.startContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textContainer {
    margin-bottom: 40px;
}

.welcome {
    font-size: 2em;
    margin-bottom: 20px;
}

.playButton {
    border-width: 2px;
    padding: 20px 30px;
    font-size: 1em;
    border-color: #f0f0f0;
    background-color: transparent;
    color: #f0f0f0;
    transition: background-color 0.3s;
}

/*** End Screen ***/

.share-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nyt {
    font-size: 1em;
    justify-content:center;
}

.nytimes-logo {
    width: 1.5em;
}

.close-button {
    background-color: #1a1a1a;
    border: 0px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #f0f0f0;
}

/*** Other Stuff ***/

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}